<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp3.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp3.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=den1.mssql2.gear.host;Persist Security Info=True;User ID=placek;Password=Sh3d74?91P!0"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp3.Properties.Settings.placekConnectionString"
            connectionString="Data Source=den1.mssql2.gear.host;Initial Catalog=placek;Persist Security Info=True;User ID=placek;Password=Sh3d74?91P!0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>